{% extends 'Usuarios/menuAdmin.html' %}

{%block page %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Portada -->
      <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
        <h2 class="w3-xxlarge w3-text-red"><b>Cursos</b></h2>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p><h4>Seleccione un curso</h4>
      </div>

    <!--Cajas cursos-->
    <!--
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-quarter w3-margin-top">
            <button onclick="document.getElementById('gestionar').style.display='block'"
                    class="w3-card w3-container w3-hover-shadow w3-light-gray" style="max-height:380px;min-height:317px">
                <span style="font-size:22px">Ingeniería de Software</span><br>
                <i class="fas fa-book" style="font-size:100px"></i><br>
                <span style="font-size:20px">CC4401-1</span><br>
                <span style="font-size:18px">Primavera 2019</span>
                <br>
                <span class="w3-btn w3-red" onclick="alert('Dude, estás editando!')">
                    <i class="fas fa-edit"></i>
                </span>
                <!-- Separar los botones un poco?-->
                <!--
                <span class="w3-btn w3-red" onclick="alert('Calmao, estás seguro de que vas a borrar esto?')">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </button>
        </div>-->

<!-- Si la lista de cursos no es vacía, se itera-->
    {% if listaCursos %}
    {%  for curso in listaCursos %}
      <!--Caja Ejemplo -->
        <!-- El orden y margen esta dado por la class-->
        <div class="w3-quarter w3-margin-top w3-center w3-margin">
            <button {% comment %}onclick="document.getElementById('gestionar').style.display='block'" {% endcomment %}class="w3-card w3-container w3-hover-shadow w3-light-gray" style="min-height:317px">

                <h3>Nombre de curso</h3>
                    {{ curso.nombreCurso }}<br>
                <i class="fas fa-book" style="font-size:100px"></i>
                <p>Código</p>
                    {{ curso.codigoCurso }}
                <p>Sección</p>
                    {{ curso.numSeccionCurso }}
                <p>Semestre y año </p>
                    {{ curso.semesterCurso }} - {{ curso.anioCurso }}
                <!-- Patron para llamar de algo de django (back end) es con dos curly braces -->
            </button>
            <!-- Es un button por iteracion anterior no tiene funcionamiento-->
            <div id="botonera" class="w3-margin-top w3-center">
                <button class="w3-btn w3-red ">Modificar</button>
                <button class="w3-btn w3-red">Eliminar</button>
            </div>
        </div>

    {%  endfor %}
         <!-- Caso contrario se indica que no hay cursos-->
    {% else %}
        <p>No courses</p>
    {% endif %}


    <!--Caja de agregar-->
        <div class="w3-quarter w3-margin-top w3-center">
          <button onclick="document.getElementById('agregar').style.display='block'" class="w3-card w3-container w3-light-gray w3-hover-shadow" style="min-height: 317px">
          <span style="font-size:22px">Agregar <br>curso nuevo</span>
          <i class="fas fa-plus" style="font-size:100px;text-align: center; padding:30px"></i>
          </button>
        </div>

        <div id="agregar" class="w3-modal">

        <!--
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <form class="w3-container" action="/action_page.php">
                <div class="w3-section">
                    <label><b>Curso</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Ingrese nombre del curso"
                         id="course_name" name="course_name" required>

                    <label><b>Código</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Ingrese código del curso"
                         id="course_id" name="course_id" required>

                    <label><b>Sección</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Ingrese número de sección"
                         id="course_section" name="course_section" required>

                    <label><b>Año</b></label>
                    <input class="w3-input w3-border" type="text" placeholder="Ingrese año"
                         id="course_year" name="course_year" required>

                    <label for="course_semester"><b>Semestre</b></label>
                    <div class="semester">
                        <select id="course_semester" name="course_semester">
                            <option value="priv">Primavera</option>
                            <option value="oto">Otoño</option>
                        </select>
                    </div>
                    <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
                </div>
                </form>
            </div>
        <!--Cierre de cajas de cursos-->
        <!--</div>
    <!--cierre de contenido-->
<!--</div>
</div>-->
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center"><br>
                    <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                    <!-- id="nuevo_curso", nuevo curso es una variable del post, que recibio esta pagina
                     y en nuevo_curso, viene el form-->
                    <form method="post" id="nuevo_curso" enctype="multipart/form-data">

                        <!--token, sirve cuando uno deja viva la sesion -->
                        {% csrf_token %}
                        <!-- en table se muestra el form-->
                        <table class="table table-bordered">
                            <!--
                            {% for field in nuevo_curso.hidden_fields %}
                              {{ field }}
                            {% endfor %}
                            -->

                            <!-- por cada campo del form, lo pongo en el html -->
                            {% for field in nuevo_curso.visible_fields %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!-- Boton de agregar del formulario-->
                        <button type="submit" class="btn btn-success" style="width: 100%; height: 60px; font-size: 31px; font-weight: bolder">Agregar</button>
                    </form>
                </div>
                <!--cierre de cajas de cursos-->
            </div>
        </div>
    <!--cierre de contenido-->
</div>



<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
{% endblock page %}