{% extends 'Usuarios/menuAdmin.html' %}
{%block page%}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluaciones</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div class="w3-container">
    <a class="w3-button w3-large w3-red w3-right w3-round" href="{% url 'usuarios:evaluaciones_admin_create' usuario.id%}">Agregar nueva evaluación</a><br>
  </div>

  <!--Seccion rubricas-->
  <!--
  <button onclick="myFunction('Demo4')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
    <h3>Evaluación 2</h3>
  </button>
  -->

  <div id="Demo4" class="w3-hide w3-container w3-pale-red w3-padding-large w3-margin"style="width: 75%">
    <!--
    <p>
      <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Rúbrica asociada</button>
      <button class="w3-button w3-white w3-border w3-border-red w3-round-large">Exportar puntajes</button><br>
    </p>-->
      <!-- Ver: despliega un PopUp con las evaluaciones disponibles, ordenadas por grupo,
      de la presente evaluación -->
      <!--<button onclick="document.getElementById('ver').style.display='block'" class="w3-button w3-large w3-red w3-round">
        Ver
      </button>
      <button class="w3-button w3-large w3-red w3-margin-left w3-round">Modificar</button>
      <button class="w3-button w3-large w3-red w3-right w3-round">Eliminar</button>
  </div>


    -->




























  </div>




  <div id="content-wrapper">

      <div class="container-fluid">


        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Tareas
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                <thead>
                  <tr bgcolor="#fffaf0" >
                    <th>Curso</th>
                    <th>Tarea</th>
                    <th>Creador</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Finalizacion</th>
                    <th>Estado</th>
                  </tr>
                </thead>

                <tbody>

                {%for i in listaEval%}
                    {% if usuario.isAdmin %}
                      <tr id={{i}} bgcolor="#e6e6fa" onclick=evaluar(1)>
                    {% else %}
                      <tr id={{i}} bgcolor="#e6e6fa" onclick=evaluar(0)>
                    {% endif %}
                        <td >CC441-1</td>
                        <td >{{ i}}</td>
                        <td>david</td>
                        <td>15/04/19</td>
                        <td>--/--/--</td>
                        <td>Pendiente</td>
                      </tr>
                </tbody>
                {%endfor%}

              </table>


                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <span class="page-link">anterior</span>
                    </li>

                    <li class="page-item active"><a class="page-link" href="#">1</a></li>

                    <li class="page-item"><a class="page-link" href="#">2</a></li>

                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                    <li class="page-item">
                      <a class="page-link" href="#">siguiente</a>
                    </li>

                  </ul>
                </nav>
            </div>
          </div>
        </div>

          </div>
  </div>










</div>


<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}



function  evaluar(isAdmin) {
    if (isAdmin) {
        c="{% url 'usuarios:evaluaciones_admin_ver' usuario.id listaEval.0 1%}";
    }
    else
        c="{% url 'usuarios:evaluaciones_admin_ver' usuario.id listaEval.0 0%}";
  window.location=c;
}







</script>

{%endblock page%}

