{% extends 'Usuarios/menuAdmin.html' %}
{%block page%}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluaciones</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div class="w3-container">
      {%if usuario.isAdmin%}
      <a class="w3-button w3-large w3-red w3-right w3-round" href="{% url 'usuarios:evaluaciones_admin' usuario.id 1%}">Volver</a><br>
      {%else%}
      <a class="w3-button w3-large w3-red w3-right w3-round" href="{% url 'usuarios:evaluaciones_admin' usuario.id 0%}">Volver</a><br>

      {%endif%}
    </div>
  <!--Seccion rubricas-->

    <h3>Form</h3>
        <div class="w3-center"><br>
                    <span onclick="document.getElementById('agregar').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                    <!-- id="nuevo_curso", nuevo curso es una variable del post, que recibio esta pagina
                     y en nuevo_curso, viene el form-->
                    <form method="post" id="nueva_eval" enctype="multipart/form-data">

                        <!--token, sirve cuando uno deja viva la sesion -->
                        {% csrf_token %}
                        <!-- en table se muestra el form-->
                        <table class="table table-bordered">
                            <!--
                            {% for field in nueva_eval.hidden_fields %}
                              {{ field }}
                            {% endfor %}
                            -->

                            <!-- por cada campo del form, lo pongo en el html -->
                            {% for field in nueva_eval.visible_fields %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!-- Boton de agregar del formulario-->
                        <button type="submit" class="btn btn-success" style="width: 100%; height: 60px; font-size: 31px; font-weight: bolder">Agregar</button>
                    </form>
                </div>

</div>


<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

{%endblock page%}

